<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>От автора</title>
</head>
<body>
    <h1>От автора</h1>
    Привет! Спасибо всем за прочтение книги. Надеюсь, вам понравилось. Вы можете найти меня в telegram по нику @kolayne. Я буду очень рад узнать, какие пасхалки вы нашли, какие необычные тексты (например, флаги) получили. Не стесняйтесь перепроходить фрагменты книги, перечитывать какие-то ее куски или просить у меня исходники тасков. <b>Обязательно</b> расскажите @kolayne ваши впечатления от книги, что понравилось вам больше или меньше остального :&gt;
    <br><br>
    Песни из глав:
    <br>
    <ol>
        <li><a href="https://youtu.be/3M_5oYU-IsU">Big Shaq - Mans not hot</a></li>
        <li><a href="https://youtu.be/HU9INelLfDw">Oxxxymiron - Крокодиловы слезы</a></li>
        <li><a href="https://youtu.be/KJAI_UcdRuU">Сколот - Драккар</a></li>
        <li><a href="https://youtu.be/tsNu2IFyZgI">Константин Ступин - Холодный воздух</a></li>
    </ol>
    <br>
    Другие песни, которые могли попасть в главы, но не попали по тем или иным причинам:
    <br>
    <ul>
        <li><a href="https://youtu.be/XbGs_qK2PQA">Eminem - Rap God (Explicit)</a></li>
        <li><a href="https://youtu.be/W9P_qUnMaFg">Dynoro & Gigi D’Agostino - In My Mind</a></li>
        <li><a href="https://youtu.be/QgRG57Kjpkc">Константин Ступин - Гремит моя музыка</a></li>
        <li><a href="https://youtu.be/Hem4Yvq5yXM">Константин Ступин - Грузный удар о камни</a></li>
        <li><a href="https://youtu.be/6SV3LLjHjAA">Константин Ступин - Время колокольчиков</a></li>
        <li><a href="https://youtu.be/eW6bGFqsfWY">Oxxxymiron - Накануне</a></li>
        <li><a href="https://youtu.be/ZJA_2CTNjfA">Константин Ступин - Пушистый хвост <b>лисицы</b></a></li>
        <li><a href="https://youtu.be/8BsG2fkcsXY">Яна Айсанова - Баллада о проклятой принцессе</a></li>
        <li><a href="https://youtu.be/G3kM2cJoa9o">Яна Айсанова - Дорога Ведьмака</a></li>
        <li><a href="https://youtu.be/7a47vdEr2iw">Сколот - Подними Глаза</a></li>
    </ul>
    <br>
    <a href="https://www.youtube.com/watch?v=o362a9aCZF4">Бонус</a>
</body>
</html>
