<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Chapter 0. The last moments before jumping into the Dark</title>
</head>
<body>
    <h1>Глава 0. Последние мгновенья перед прыжком во Тьму</h1>
    Чтобы решать таски, заходи на этот ip-адрес, меняя порты и адреса страниц: первая часть на :8891/1, вторая на :8892/2 и т. д.
    <br><br>
    <b>Обратите внимание</b>: если вы получаете Internal Server Error при входе на какой-то из тасков, просто зайдите на главную страницу на этом порту, и вернитесь обратно. Сорян, не было времени нормально закодить. Еще момент - пожалуйста, не шлите на сервак бесполезные запросы или слишком много запросов. Написано реально офигеть неоптимально, мы погубим сервак такими темпами. Все остальные просьбы, которые вы получите в течение сюжета, можно нарушать, нарушение некоторых из них может привести вас с пасхалочкам. Песенки слушайте. Удачи!
    <br><br>
    Если вы закончите очередной этап таска, у вас на экране появится текст, содержащий "Глава прочитана". Если вы не видели "Глава прочитана", значит таск еще не решен
    <br><br>
    <details><summary>Небольшой хинт</summary><div style="margin-left:30px;">Если в ответ на вашу атаку вы получаете фрагмент одной из песен, это означает, что вместо того, чтобы заставить Огненную Лисицу выполнить действия, вы выполнили их сами, что неправильно.</div></details>
</body>
</html>
